html,
body,
#root,
.app {
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  padding: 0;
  border: none;
  border-radius: 3px;
  color: #fff;
  transition: 0.25s;
}

button:focus {
  outline: none;
  box-shadow: 0 0 2px 2px rgba(213, 242, 255, 0.8);
}


.app {
  padding-top: 30px;
  overflow: auto;
}

.isWorkSessionTheme {
  background: rgb(0,85,158);
  background: linear-gradient(0deg, rgba(0,85,158,1) 0%, rgba(0,165,199,1) 100%);
}

.isWorkSessionTheme button{
  background-color: #3dc4e8;
}

.isWorkSessionTheme button:hover {
  background-color: #67dfff;
}

.isWorkSessionTheme button:active {
  background-color: #2ba7c9;
}

.isWorkSessionTheme button:disabled {
  background-color: #6cbbd1;
}

.isRestSessionTheme {
  background: rgb(0,116,85);
  background: linear-gradient(0deg, rgba(0,116,85,1) 0%, rgba(1,164,107,1) 100%);
}

.isRestSessionTheme button{
  background-color: #43e83d;
}

.isRestSessionTheme button:hover {
  background-color: #8fff8b;
}

.isRestSessionTheme button:active {
  background-color: #32c92d;
}

.isRestSessionTheme button:disabled {
  background-color: #75c972;
}
